{
  "presets": [["react", "flow"]],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    "transform-react-jsx-source",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
        }
      }
    ],
  ]
}
