@import "../../../../assets/less/custom.less";

@content1: content1;
.@{content1} {

  &-wrapper {
    // padding-top: 20px;
    // background-color: #f5f5f9;
  }
}

.ant-tabs-bar {
  margin: 0 10px;

  > .ant-tabs-nav-container {
    font-size: 18px;

    > .ant-tabs-nav-wrap {

      > .ant-tabs-nav-scroll {

        > .ant-tabs-nav {

          > .ant-tabs-tab {

          }
        }
      }
    }
  }
}

.ant-table-content {
  padding: 10px;

  > .ant-table-body {
    background-color: #fff;

    & .ant-table-thead {

      > tr {

        > th {
          border-bottom: none;
        }
      }
    }

    & .ant-table-tbody {

      > .ant-table-row {

        > td {
          border-bottom: none;
        }

        &:nth-child(2n) {
          background-color: #fafafa;
        }

        &:hover {
          transform: scale(1.015);
          box-shadow: 0 5px 30px rgba(124, 138, 192, 0.22);
          z-index: 1000;

          > td {
            background-color: #fff;

            &:first-child {
              border-radius: 5px 0 0 5px;
            }

            &:last-child {
              border-radius: 0 5px 5px 0;
            }
          }
        }
      }
    }
  }
}

    

@media screen and (max-width: 767px) {
  .@{content1} {
    overflow: hidden;
    margin: auto;
    padding-top: 5%;

    &-wrapper {
      background-color: @template-bg-color;
      background-image: none;
    }

    > h1, > p {
      position: relative;
      top: auto;
    }

    > .about-info {
      display: none;
      height: 0;
    }

    &-contentWrapper {
      top: auto;
      margin: 0 auto;
      margin-top: 40px;
      height: auto;

      ul {
        margin-top: 10%;

        > li {
          display: inline-block;
          position: relative;
          width: 50%;
          margin: auto;
          margin-bottom: 40px;

          > a {

            > .text {

              > p {
                font-size: 12px;
              }
            }
          }

          &.queue-anim-leaving {
            position: relative !important;
          }
        }
      }
    }
  }
}
